.todoListItem {
  padding: 10px 15px;
  border-bottom: 1px solid #e0e0e0;
  justify-content: space-between;
  align-items: center;
  background-color: var(--form-background-color);
  border-radius: 5px;
  display: flex;
  width: 55vw;
  margin: 5px 0;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.todoListItem:hover {
  transform: scale(1.02);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.todoListItemText {
 font-size: 18px;
  text-align: left;
  color: var(--text-color);
  flex-grow: 1;
  text-overflow: ellipsis;
  transition: color 0.3s ease;
  white-space: nowrap;
  overflow: hidden;
  max-width: calc(100% - 80px);
  padding-left: 16px;
}

.dueDateText {
  width: 100px;
  flex-shrink: 0;
}

.todoListItem:hover .todoListItemText {
  color: var(--button-background-color);
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;      
  height: 40px;    
  border: none;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;
  margin-right: 10px;
}

.btn:last-child {
  margin-right: 0; 
}

.icon {
  font-size: 18px;
  color:  var(--icons-color);
  transition: color 0.3s ease, transform 0.3s ease;
}

.btn:hover .icon {
  color: #9C9A6A; 
  transform: scale(1.2); 
}

.removeBtn:hover .icon {
  color: #ff8a80; 
  transform: scale(1.2); 
}

.removeBtn {
  background-color: transparent;
}

.editBtn {
  background-color: transparent;
}

.checkIcon {
  font-size: 24px;
  transition: color 0.3s ease;
}

.completeBtn:hover {
  background-color: #e0e0e0;
}

.checked {
  color: #9C9A6A;
}

.empty {
  color: lightgray;
}

.todoTable {
  width: 100%;
  border-collapse: collapse;
}

.todoTable th,
.todoTable td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

.todoTable th {
  background-color: #f8f8f8;
  font-weight: bold;
}

.todoTable td {
  word-wrap: break-word;
  min-width: 150px;
}

.todoTable td:last-child {
  text-align: center; 
}