
.todoListItem {
  padding: 10px 15px;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  margin: 5px 0;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.todoListItem:hover {
  transform: scale(1.02);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.todoListItemText {
  font-size: 18px;
  color: #333;
  transition: color 0.3s ease;
  white-space: nowrap;     
  overflow: hidden;          
  text-overflow: ellipsis;
  max-width: calc(100% - 80px); 
}

.todoListItem:hover .todoListItemText {
  color: #3498db; 
}
.removeBtn {
  background-color: #ff8a80;
  color: white;
  border: none;
  padding: 8px 15px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 30px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.removeBtn .removeIcon {
  margin-right: 8px; /* Отступ между иконкой и текстом */
  font-size: 18px;
}

.removeBtn:hover {
  background-color: #d32f2f;
  transform: scale(1.05);
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
}

.removeBtn:active {
  transform: scale(1);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.removeBtn:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(211, 47, 47, 0.4);
}