*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", "Arial", sans-serif;
  line-height: 1.5;
  background-color: #f7f7f7;
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  padding: 15px;
  width: 100%;
  max-width: 400px;
}

.add-todo-form {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin-bottom: 30px;
}

.add-todo-form input {
  padding: 0.75em 1.2em;
  font-size: 1 rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 80%;
  margin-right: 10px;
  transition: border-color 0.3s;
}

.add-todo-form input:focus {
  outline: none;
  border-color: #646cff;
}

.add-todo-form button {
  padding: 0.5em 1em;
  font-size: 1rem;
  font-weight: 500;
  background-color: #646cff;
  color: white;
  border: 1px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  width: 20%;
  transition: background-color 0.3s;
}

.add-todo-form button:hover {
  background-color: #535bf2;
}

.add-todo-form button:disabled {
  background-color: #d1d1d1;
  cursor: not-allowed;
}

.add-todo-form label {
  font-size: 1.2rem; /* Smaller font size */
  font-weight: 600;
  color: #333;
  margin-right: 10px;
  padding-right: 15px;
}

.todo-list {
  width: 100%;
  max-width: 400px;
  list-style: none;
  padding: 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.todo-item span {
  font-size: 1.2rem;
  color: #333;
  flex-grow: 1;
}

.todo-item button {
  background-color: transparent;
  border: none;
  color: #e74c3c;
  font-size: 1.2rem;
  cursor: pointer;
  transition: color 0.3s;
}

.todo-item button:hover {
  color: #c0392b;
}

.todo-item.completed span {
  text-decoration: line-through;
  color: #999;
}

@media (max-width: 480px) {
  body {
    padding: 20px 10px;
  }

  h1 {
    font-size: 2.5rem;
    padding: 15px;
    margin-bottom: 15px;
  }

  .add-todo-form {
    width: 100%;
    max-width: 100%;
    padding: 15px;
    flex-direction: column;
  }

  .add-todo-form input,
  .add-todo-form button {
    width: 100%;
    margin: 5px 0;
    font-size: 1rem;
  }

  .todo-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .todo-item span {
    margin-bottom: 8px;
  }

  .todo-list {
    width: 100%;
    padding: 0;
  }
}
